<!DOCTYPE html>

<html>
  <head>
    <title>The Only CRM - <%= yield_content :title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>

  <body>
    <header>The Only CRM</header>
    <nav>
      <a href="/contacts/new" class="add-new">Add New</a>
      <a href="/contacts" class="view-all">View All</a>
    </nav>
    <%= yield %>
<!--     <footer><a href="/">Go Home</a></footer>
 -->  </body>

</html>